nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul .link {
    color: var(--secondary);
    text-decoration: none;
    padding: 1rem;
    text-transform: uppercase;
}