nav {
    width: 100%;
    display: flex;
}

nav ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    color: var(--secondary);
    text-decoration: none;
    padding: 1rem;
    text-transform: uppercase;
    transition: 200ms ease;
}