.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12vh;
}

.landing * {
    margin: 4vh 0;
}

.landing h1 {
    text-transform: uppercase;
    font-family: 'Yeseva One', serif;
    text-align: left;
    font-size: 5rem;
    letter-spacing: 1.5rem;
    margin-right: 15vw;
}

.sectionLandingText{
    margin: 0;
}
.extended{
display: flex;
margin-left: 2rem;
flex-direction: column;
}
.extended img{
    margin-top: 10vh;
}

.landing section {
    width: 100%;
    display: flex;

}
.landing section .sectionWithTest{
    display: block;
}

.landing section * {
    width: 100%;
    display: flex;
    justify-content: center;
}

.landing section p {
    border-top: 2px solid var(--secondary);
    font-size: 1.2rem;
    /* text-transform: uppercase; */
    text-align: justify;
    max-width: 50ch;
    padding: 1vh 2vw;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: bold;
    line-height: 3rem;
}
@media screen and (max-width:870px){
    .containerStories{
        padding: 20px!important;
        margin: 0;
    }
}
@media screen and (max-width:960px){
    .landing{
        width: 100%;
    }
    .landing h1 {
       font-size: 3rem;
    }
    
    section{
        flex-direction: column;
        width: 100%;
    }
    .landing section p {
       font-size: 1rem;
    }
    .sectionWithTest img{
        width: 100%;
    }
    .testYourSelfLanding{
        width: 2rem;
        height: auto;
    }

}
@media screen and (max-width:600px){
    .landing h1 {
        margin-right: 7vw;
    }
}