.containerPost{
    background-color: #D9D9D9;
    padding: 2rem;
    max-width:fit-content;

    align-self: left;
}
.headPost{
    display: flex;
    font-size:20px;
    letter-spacing: 40%;
    font-weight: 500;
    text-transform: uppercase;
}
.headPost img{
    width: 3rem;
}
.headPost, .bodyPostText, p{
    padding: 2rem;
    letter-spacing: 0.2rem;
}
