* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: calc(1vmin + 5px);
    font-family: 'Montserrat', sans-serif;

    --primary: #D9D9D9;
    --secondary: #222222;
    --background: #E9E9E9;
}

body {
    min-height: 100vh;
    background-color: var(--background);
}